---
import Layout from "@layouts/layout.astro";
import Table from "@components/categories/Table.svelte";

import Icon from "@iconify/svelte";
---

<Layout page="Categorías">
    <h1 class="text-2xl font-bold mb-4">Categorías</h1>

    <Table client:visible />
</Layout>
