---
import Layout from "@layouts/layout.astro";
import Table from "@components/products/Tabla.svelte";

import Icon from "@iconify/svelte";
---

<Layout page="Productos">
    <h1 class="text-2xl font-bold mb-4">Productos</h1>

    <Table client:visible />
</Layout>