---
import Tabla from "@components/users/Tabla.svelte";
import Layout from "@layouts/layout.astro";
---

<Layout page="Usuarios">
    <h1 class="text-2xl font-bold mb-4">Usuarios</h1>

    <Tabla client:visible />
</Layout>
