---
import Layout from '../layouts/layout.astro';
import Tabla from '../components/users/Tabla.svelte';
---

<Layout page="Usuarios">
        <h1 class="text-2xl text-black">Usuarios</h1>
        <Tabla client:visible/>
</Layout>