---
import "@styles/global.css";
import { ClientRouter } from "astro:transitions";
import Sidebar from "@components/Sidebar.svelte";

interface Props {
	page: string;
}

const { page } = Astro.props;
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.png" />
		<link rel="icon" href="/icon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <ClientRouter />
		<title>Sistema Inventario | {page}</title>
	</head>
	<body class="bg-gray-200 dark:bg-gray-900 transition-colors duration-300">
        <div class="flex h-screen overflow-hidden">
            <Sidebar client:load activePage={page?.toLowerCase} />

            <main>
                <div class="container mx-auto px-6 py-3">
                    <slot />
                </div>
            </main>
        </div>

		<script>
			import { setTheme } from "@core/utils/setup";

			document.addEventListener("astro:page-load", (ev) => {
				setTheme(ev.target);
			});

			document.addEventListener("astro:after-swap", (ev) => {
				setTheme(ev.target);
			});
		</script>
	</body>
</html>